azadfvij/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "azadfvij"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'",
			"defaultValue": "Integrated Security=False;Data Source=@{linkedService().servername};Initial Catalog=@{linkedService().dbname};User ID=@{linkedService().username};Password=@{linkedService().password}"
		},
		"adls_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adls_ls'"
		},
		"adls_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacvij.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copyactivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_adls_db",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adls_dataset",
								"type": "DatasetReference",
								"parameters": {
									"FilesystemName": {
										"value": "@pipeline().parameters.Filesytem",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.Directory",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable_dataset",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@pipeline().parameters.Tb1",
										"type": "Expression"
									},
									"Server_name": {
										"value": "@pipeline().parameters.server",
										"type": "Expression"
									},
									"Db_name": {
										"value": "@pipeline().parameters.DB",
										"type": "Expression"
									},
									"user_name": {
										"value": "@pipeline().parameters.User",
										"type": "Expression"
									},
									"password": {
										"value": "@pipeline().parameters.PW",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data_db_db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data_adls_db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable_dataset",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@pipeline().parameters.Tb1",
										"type": "Expression"
									},
									"Server_name": {
										"value": "@pipeline().parameters.server",
										"type": "Expression"
									},
									"Db_name": {
										"value": "@pipeline().parameters.DB",
										"type": "Expression"
									},
									"user_name": {
										"value": "@pipeline().parameters.User",
										"type": "Expression"
									},
									"password": {
										"value": "@pipeline().parameters.PW",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2_dataset",
								"type": "DatasetReference",
								"parameters": {
									"table2": {
										"value": "@pipeline().parameters.TB2",
										"type": "Expression"
									},
									"serverName": {
										"value": "@pipeline().parameters.server",
										"type": "Expression"
									},
									"dbName": {
										"value": "@pipeline().parameters.DDB",
										"type": "Expression"
									},
									"userName": {
										"value": "@pipeline().parameters.User",
										"type": "Expression"
									},
									"ps": {
										"value": "@pipeline().parameters.PW",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Filesytem": {
						"type": "String",
						"defaultValue": "data"
					},
					"Directory": {
						"type": "String",
						"defaultValue": "input"
					},
					"FileName": {
						"type": "String",
						"defaultValue": "business.csv"
					},
					"Tb1": {
						"type": "String",
						"defaultValue": "business_sale"
					},
					"server": {
						"type": "String",
						"defaultValue": "sqlservervij.database.windows.net"
					},
					"DB": {
						"type": "String",
						"defaultValue": "sqldbvij"
					},
					"User": {
						"type": "String",
						"defaultValue": "sqluser"
					},
					"PW": {
						"type": "String",
						"defaultValue": "Azure@123"
					},
					"DDB": {
						"type": "String",
						"defaultValue": "sqldb2"
					},
					"TB2": {
						"type": "String",
						"defaultValue": "business_sales"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T05:51:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adls_dataset')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable_dataset')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable2_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@dataset().serverName",
							"type": "Expression"
						},
						"dbname": {
							"value": "@dataset().dbName",
							"type": "Expression"
						},
						"username": {
							"value": "@dataset().userName",
							"type": "Expression"
						},
						"password": {
							"value": "@dataset().ps",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"table2": {
						"type": "String"
					},
					"serverName": {
						"type": "string"
					},
					"dbName": {
						"type": "string"
					},
					"userName": {
						"type": "string"
					},
					"ps": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().table2",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@dataset().Server_name",
							"type": "Expression"
						},
						"dbname": {
							"value": "@dataset().Db_name",
							"type": "Expression"
						},
						"username": {
							"value": "@dataset().user_name",
							"type": "Expression"
						},
						"password": {
							"value": "@dataset().password",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"tablename": {
						"type": "String"
					},
					"Server_name": {
						"type": "string"
					},
					"Db_name": {
						"type": "string"
					},
					"user_name": {
						"type": "string"
					},
					"password": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilesystemName": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FilesystemName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"servername": {
						"type": "string"
					},
					"dbname": {
						"type": "string"
					},
					"username": {
						"type": "string"
					},
					"password": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adls_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}